
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<div class="row">
    <nav class="column">
    {% if strpos(action, 'add') is same as(false) %}
            <?= $this->Form->postLink(
                    __('Delete'),
                    ['action' => 'delete', ${{ singularVar }}->{{ primaryKey[0] }}],
                    ['class'=>'button','confirm' => __('Are you sure you want to delete # {0}?', ${{ singularVar }}->{{ primaryKey[0] }})]
                )
            ?>
    {% endif %}
            <?= $this->Html->link(__('List {{ pluralHumanName }}'), ['action' => 'index'], ['class' => 'button']) ?>
            {{- "\n" }}
    {%- set done = [] %}
    {% for type, data in associations %}
        {%- for alias, details in data %}
            {%- if details.controller is not same as(_view.name) and details.controller not in done %}
            <?= $this->Html->link(__('List {{ alias|underscore|humanize }}'), ['controller' => '{{ details.controller }}', 'action' => 'index'], ['class' => 'button']) ?>
            <?= $this->Html->link(__('New {{ alias|singularize|underscore|humanize }}'), ['controller' => '{{ details.controller }}', 'action' => 'add'], ['class' => 'button']) ?>
            {{- "\n" }}
            {%- set done = done|merge([details.controller]) %}
            {%- endif %}
        {%- endfor %}
    {% endfor %}
    </nav>    
</div>
<div class="row">
    <div class="{{ pluralVar }} form content column">
        <?= $this->Form->create(${{ singularVar }}) ?>
        <fieldset>
            <h1><?= __('{{ action|humanize }} {{ singularHumanName }}') ?></h1>
            <?php
    {% for field in fields if field not in primaryKey %}
        {%- if keyFields[field] %}
            {%- set fieldData = Bake.columnData(field, schema) %}
            {%- if fieldData.null %}
                echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true]);
                {{- "\n" }}
            {%- else %}
                echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}]);
                {{- "\n" }}
            {%- endif %}
        {%- elseif field not in ['created', 'modified', 'updated'] %}
            {%- set fieldData = Bake.columnData(field, schema) %}
            {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
                echo $this->Form->control('{{ field }}', ['empty' => true]);
                {{- "\n" }}
            {%- else %}
                echo $this->Form->control('{{ field }}');
        {{- "\n" }}
            {%- endif %}
        {%- endif %}
    {%- endfor %}

    {%- if associations.BelongsToMany %}
        {%- for assocName, assocData in associations.BelongsToMany %}
                echo $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}]);
        {{- "\n" }}
        {%- endfor %}
    {% endif %}
            ?>
        </fieldset>
        <?= $this->Form->button(__('Submit')) ?>
        <?= $this->Form->end() ?>
    </div>
</div>
